:root {
	--cB: #181B1E;
	--cBM: #2F3840;
	--cMB: #272F33;
	--cMBA: #3DCDF4;
	--cMF: #6DA6AE;
	--cFS: #417683;
	--cFT: #57CEF8;
	--cTX: #9EACB3;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--cB);
	padding: 20px 40px;
	color: var(--cTX);
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: xx-large;
}

#dvInicio {
	align-items: center;
	justify-content: space-around;
	display: flex;
	height: 80px;
	margin: 10px;
	width: 450px;
}

#dvInicio div {
	line-height: 10px;
	text-align: left;
}

#dvInicio img {
	height: 100%;
	width: auto;
	animation: rodar 4s linear infinite;
}

@keyframes rodar {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

#dvInicio h1 {
	color: var(--cFT);
}

#dvInicio p {
	color: var(--cFS);
}

#dvMenu {
	flex-direction: column;
	height: fit-content;
	border-radius: 3px;
	display: flex;
	width: 450px;
	gap: 2px;
}

#dvAbas {
	justify-content: space-between;
	display: flex;
}

#dvAbas a {
	background-color: var(--cMB);
	border-radius: 8px 8px 0 0;
	text-decoration: none;
	font-size: small;
	padding: 10px;
	color: #FFF;
}

#dvAbas a:hover {
	background-color: var(--cMBA) !important;
	color: #000;
}

#dvAbas a:active {
	background-color: var(--cMBA);
	color: #000;
}

nav {
	height: fit-content;
	min-height: 100px;
}

#corpo {
	background-color: var(--cBM);
	height: fit-content;
	padding: 10px;
}

#dvConteudo {
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: left;
}